body
{
    font-size: .80em;
    font-family: Calibri;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-image: url('../../images/bodyBkg2.gif');
    background-repeat: repeat-x;
}


/* ~~ Element/tag selectors ~~ ...........color: #696969;...........background: #CEDDF8; .............background-color: #CEDDF8; */


a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */

/* ~~this fixed width container surrounds the other divs~~ width: 960px;...........background: #FFF;.......  background-color: white;*/
.container
{
     background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
    width: 1300px;
   /*width: 1350px;*/
}
.clear
{
    clear: both;
}
.page
{
	
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
    width: 1300px;
    /*width: 1350px;*/
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header
{ 
	position: relative;
	margin: 0px;
	padding: 0px;
	
	width: 100%;
	top: 0px;
	left: 0px;
	height: 115px;
	background-image: url('../images/welcome.png'); }


.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
	height: 37px;
}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.
width: 780px;  background: #EADCAE;
*/
.sidebar1 {
	float: left;
	width: 191px;
	
	padding-bottom: 10px;
	
}
#content
{
    padding: 0px 0 10px 0;
    width: 1100px;
    float: left;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~   width: 1003px;*/


/* ~~ The footer ~~ */


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

p {
  line-height: 1.5em;
}

ul#menu, ul#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15em;
    
}

ul#menu a {
  display: block;
  text-decoration: none;	
}

ul#menu li {
  margin-top: 1px;
}

ul#menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

ul#menu li a:hover {
  background: #000;
}

ul#menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a:hover,ul#menu li ul .current a {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }

UL
{
    LIST-STYLE-POSITION: outside;
    LIST-STYLE-IMAGE: url(../images/bullet.gif)
}
TABLE.bulletlist LI
{
    LIST-STYLE-IMAGE: url(../images/bullet.gif)
}
TD.toolbar
{
    BORDER-TOP: #ffffff 1px solid;
    BACKGROUND: #999999;
    FONT: 11px Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid
}
A.toolbar
{
    FONT: 11px Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
TD.mainbody
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-TOP: 10px
}
TABLE.table
{
    FONT-SIZE: 1em
}
SPAN.subhead
{
}
SPAN.header
{
}
TABLE.table PRE
{
}
DIV.code PRE
{
}
TD.code
{
}
TD.caption
{
	FONT-SIZE: 1.2em;
    COLOR: #669933;
    FONT-FAMILY: verdena
}
SPAN.caption
{
    MARGIN-TOP: 5px;
    FONT-STYLE: italic
}
TABLE.table TH
{
    PADDING-LEFT: 5px;
    BACKGROUND: #dadada;
    TEXT-ALIGN: left
}
TABLE.table
{
    WIDTH: 100%
}
TABLE.table TD
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND: #f1f1f1;
    PADDING-BOTTOM: 10px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px
}
.code
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 1.2em;
    PADDING-BOTTOM: 1px;
    OVERFLOW: auto;
    WIDTH: 98%;
    COLOR: #669933;
    PADDING-TOP: 1px;
    FONT-FAMILY: courier-new;
    BACKGROUND-COLOR: #f0f0f0
}
PRE.code
{
    BORDER-RIGHT: #dadada 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #dadada 1px solid;
    PADDING-LEFT: 10px;
    FONT-SIZE: 1.1em;
    PADDING-BOTTOM: 10px;
    OVERFLOW: auto;
    BORDER-LEFT: #dadada 1px solid;
    WIDTH: 98%;
    COLOR: #669933;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #dadada 1px solid;
    FONT-FAMILY: courier-new;
    BACKGROUND-COLOR: #f0f0f0
}
CODE
{
    FONT-SIZE: 1.2em;
    COLOR: #669933;
    FONT-FAMILY: courier new
}
.code PRE
{
    FONT-SIZE: 1em
}
DIV.indent
{
    PADDING-LEFT: 25px
}
H1
{
    DISPLAY: inline;
    FONT-SIZE: 14px
}
H2
{
    FONT-SIZE: 1.6em
}
H3
{
    FONT-SIZE: 1.1em
}
H3.inline
{
    DISPLAY: inline;
    FONT-SIZE: 1em
}
DIV.inline
{
    PADDING-BOTTOM: 3px
}
DIV.inline H3
{
    DISPLAY: inline
}
H4
{
    
	FONT-SIZE:smaller  ;
    COLOR: #000000;
    FONT-FAMILY: verdena

}
H5
{
    FONT-SIZE: 1em
}
TD.homephoto
{
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    BACKGROUND: #f0f0f0;
    PADDING-BOTTOM: 10px;
    WIDTH: 231px;
    COLOR: #3366cc;
    PADDING-TOP: 10px;
    FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
TD.nav
{
    BORDER-RIGHT: #d7d7d7 1px solid;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    BACKGROUND: #f0f0f0;
    PADDING-BOTTOM: 10px;
    WIDTH: 231px;
    COLOR: #3366cc;
    PADDING-TOP: 10px;
    FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
TD.homephoto
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
TD.bannerbg
{
    BACKGROUND: #2e5cb8
}
.sectiontitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND: #3366cc;
    PADDING-BOTTOM: 5px;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 3px solid;
    FONT-FAMILY: Tahoma, Verdana, Helvetica-Narrow, Helvetica, sans-serif
}
.new
{
    BORDER-RIGHT: #eca67d 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #eca67d 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #fffcd6;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #eca67d 1px solid;
    WIDTH: 97%;
    COLOR: #663333;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #eca67d 1px solid
}
.newinline
{
    BORDER-RIGHT: #eca67d 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #eca67d 1px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    BACKGROUND: #f6f4c3;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #eca67d 1px solid;
    COLOR: #ff3300;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #eca67d 1px solid
}
.runview
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 30px;
    BORDER-LEFT: #c1c1c1 1px solid;
    PADDING-TOP: 3px
}
.footer
{
    COLOR: #b2b2b2;
    FONT: 11px tahoma,arial,helvetica;
    
}
.input_outl
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    FONT: 11px arial;
    BORDER-LEFT: #000 1px solid;
    WIDTH: 150px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 1px solid;
    HEIGHT: 18px
}
.text11b
{
    FONT: bold 11px tahoma,arial,helvetica;
    COLOR: #000000;
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
}
.dataTable
{
    BORDER-RIGHT: #9ea4a6 1px solid;
    BORDER-TOP: #9ea4a6 1px solid;
    MARGIN-BOTTOM: 15px;
    FONT: bold 11px tahoma, sans-serif;
    BORDER-LEFT: #9ea4a6 1px solid;
    WIDTH: 95%;
    BORDER-BOTTOM: #9ea4a6 1px solid
}

.dropMenu
{
    BORDER-RIGHT: #969696 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #969696 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    FONT: 11px tahoma,arial,helvetica;
    BORDER-LEFT: #969696 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #969696 1px solid
}

.formbutton
{
    BORDER-RIGHT: #333333 1px solid;
    BORDER-TOP: #333333 1px solid;
    BACKGROUND-IMAGE: url(http://assets.bravenet.com/common/images/button_shadow.gif);
    FONT: 11px tahoma,arial,helvetica;
    BORDER-LEFT: #333333 1px solid;
    BORDER-BOTTOM: #333333 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #eeeeee
}

.cssbluebutton
{
    BORDER-RIGHT: #aaaaaa 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #aaaaaa 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    FONT: 10px tahoma,arial,helvetica;
    BORDER-LEFT: #aaaaaa 1px solid;
    WIDTH: 50px;
    CURSOR: hand;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #aaaaaa 1px solid;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}

.text18bb
{
    FONT: bold 18px arial,helvetica, verdana;
    COLOR: #2b6ebb;
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
}
.text13b
{
    FONT: bold 13px tahoma,arial,helvetica;
    COLOR: #000000
}
.input_shadow
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999 0px solid;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 5px;
    BACKGROUND: url(../Images/inputbg.jpg) #fff left top;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #999 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #999 1px solid;
    HEIGHT: 16px
}
.formbutton_shadow
{
    BORDER-RIGHT: #333333 0px solid;
    PADDING-RIGHT: 9px;
    BORDER-TOP: #333333 0px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../Images/button.jpg) #eee right bottom;
    PADDING-BOTTOM: 7px;
    MARGIN: 0px;
    FONT: bold 11px tahoma,arial,helvetica;
    BORDER-LEFT: #333333 0px solid;
    COLOR: #004891;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #333333 0px solid;
    HEIGHT: 27px
}


@charset "utf-8";
/* CSS Document */
.webwidget_tab{font-size: 12px; font-family:Verdana, Geneva, sans-serif;}.tabContainer{width:100%;background:url(../images/tab.gif) repeat-x bottom;overflow:hidden;}.tabContainer li{float:left;margin-right:2px;background:url(../images/tabOff_right.gif) no-repeat right top;}.tabContainer li a{display:block!important;display:inline-block;padding:0 15px;height:27px;line-height:27px;background:url(../images/tabOff_left.gif) no-repeat left top;}
.webwidget_tab .tabHead{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.webwidget_tab .tabBody{
    border-left:#dbdbdb solid 1px;
    border-right:#dbdbdb solid 1px;
    background-color: white;
}
.webwidget_tab .tabBody ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.webwidget_tab .tabBody ul{
    
}
.webwidget_tab .tabBody ul li{
    
}
.webwidget_tab .tabHead li a{
    font-weight: bold;
    text-decoration: none;
    color: #0099FF;
}
.webwidget_tab .tabCot{

}
.webwidget_tab .tabCot p{
    margin: 0px;
    padding:5px;
}
.webwidget_tab .tabContainer li.currentBtn{background:url(../images/tabOn_right.gif) no-repeat right top;}
.webwidget_tab .tabContainer li.currentBtn a{height:28px;background:url(../images/tabOn_left.gif) no-repeat left top;color:#434142;}
.webwidget_tab .modA{margin:10px;}
.webwidget_tab .modBody{border-left:#dbdbdb solid 1px;border-right:#dbdbdb solid 1px; background-color: white;}
.webwidget_tab .modTop h3{padding:0px;margin:0px;height:28px;background:url(../images/modAT.gif) repeat-x left top;color:#2C6A78;font-size:12px;line-height:25px;}.modTop span.modATL,.modTop span.modATR{float:left;width:4px;height:28px;background:url(../images/bg.gif) no-repeat left top;overflow:hidden;}.modTop span.modATR{float:right;background:url(../images/bg.gif) no-repeat -4px top;}.modA #sideNav dd a:hover{background:url(../images/bg.gif) no-repeat left -110px;color:#FFF;text-decoration:none;}
.webwidget_tab .modBottom{width:100%;height:4px;background:url(../images/modAB.gif) repeat-x left top;overflow:hidden;}
.webwidget_tab .modBottom span.modABL,.modBottom span.modABR,.modTopB span.modATR,.modTopB span.modATL{float:left;width:4px;height:4px;background:url(../images/bg.gif) no-repeat left -28px;overflow:hidden;}
.webwidget_tab .modBottom span.modABR{float:right;background:url(../images/bg.gif) no-repeat -4px -28px;}

